$lBlue: #EEF1F6;
$dBlue: #0E1133;
$pink: #ff3d64;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    color: $dBlue;

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 20px;
}

a.grey-link {
    color: #000;

    font-size: 0.6em;
    font-weight: 500;

    text-decoration: none;

    border: 2px solid #e5e5e5;
    border-radius: 30px;
    padding: 10px 20px;
}

header {
    background-color: $lBlue;

    width: 85%;
    height: 100vh;

    position: relative;

    overflow: hidden;

    padding: 0 7.5%;

    .menu-bar{
        width: 100%;
        height: 100px;

        justify-content: space-between;

        .logo-and-desktop-nav {
            width: 85%;
            height: 100%;

            justify-content: flex-start;

            .logo {
                width: fit-content;
                height: 100%;

                margin-right: 30px;

                img {
                    width: auto;
                    height: 30px;
                }
            }
    
            .desktop-nav {
                width: auto;
                height: 100%;

                justify-content: space-evenly;

                padding: 0 2%;

                a {
                    color: $dBlue;
                    
                    font-weight: 500;
                    font-size: 0.6em;

                    text-decoration: none;

                    padding: 0 15px;

                    i {
                        margin-left: 8px;
                    }
                }

                a:hover, a:active {
                    font-weight: 900;

                    border-bottom: 5px solid $pink;
                    border-radius: 30px;
                    padding-bottom: 5px;

                    transition: 0.5s all;
                }
            }
        }

        .subscribe {
            width: fit-content;
            height: 100%;

            justify-content: space-between;

            a {
                background-color: $pink;
                color: #fff;

                font-size: 0.75em;

                text-decoration: none;

                border-radius: 30px;
                padding: 15px 10px;
            }

            a:hover, a:active {
                box-shadow: 0 0 10px $pink;

                border: 3px solid $pink;

                transition: 1s all;
            }

            img {
                width: auto;
                height: 20px;

                display: none;

                margin: 0 10px;
            }
        }
    }

    .hero-section {
        width: 50%;

        position: relative;

        animation: top-up 2s;

        margin-top: 100px;

        h1 {
            font-size: 2.5em;
            font-weight: normal;

            margin: 20px 0;

            span {
                font-weight: bolder;
            }
        }

        p {
            font-size: 0.75em;

            margin: 20px 0;
        }

        form {
            width: 70%;

            position: relative;

            margin: 20px 0;

            input {
                width: 100%;
                height: 40px;

                border: none;
                border-left: 3px solid $pink;
                border-radius: 30px;
                padding: 5px 0 5px 50px;
            }

            input:focus-visible, input:target, input:active, input:hover {
                box-shadow: 0 0 10px $pink;
                outline: none;
            }

            .fa-solid {
                color: $pink;

                width: 50px;
                height: 100%;

                display: flex;

                position: absolute;
                top: 0;
                z-index: 10;
            }

            .fa-envelope {
                left: 0;
            }

            .fa-arrow-right {
                left: 100%;

                cursor: pointer;
            }

            .fa-arrow-right:hover {
                animation: right-left 2s infinite;
            }
        }

        .feedback-customers {
            justify-content: start;

            margin: 20px 0;

            .customers {
                direction: rtl;

                justify-content: end;
                flex-direction: row-reverse;

                img {
                    width: 35px;
                    
                    border: 3px solid #fff;
                    border-radius: 50%;
                    margin-right: -15px;
                }
            }

            .feedback {
                margin: 0 35px;

                p {
                    span {
                        font-size: 1.5em;
                        font-weight:1000;
                    }
                }
            }
        }
    }

    .hero-img {
        max-width: 50%;
        max-height: 80%;

        position: absolute;
        bottom: 0;
        right: 0;

        animation: pop-up 2s;

        img {
            width: auto;
            max-width: 100%;
            min-height: 100%;
        }
    }
}

.how-it-work {
    width: 85%;

    flex-wrap: wrap;

    padding: 0 7.5%;
    margin: 80px 0;

    .how-it-work-title-div {
        width: 100%;

        justify-content: space-between;
        align-items: flex-end;

        margin-bottom: 50px;

        .how-it-work-title {

            h1 {
                font-size: 1.75em;
                font-weight: 800;

                margin-bottom: 10px;
            }

            p {
                color: #717171;

                font-size: 0.75em;
            }
        }
    }

    .how-it-work-content {
        width: 100%;

        flex-wrap: wrap;
        justify-content: space-evenly;

        section {
            flex: 250px 0 0;
            flex-wrap: wrap;
            justify-content: start;

            border: 1px solid #e5e5e5;
            border-radius: 10px;
            padding: 40px 25px;
            margin: 10px 5px;
            
            .icon {
                color: #fff;

                font-size: 0.6em;

                width: 40px;
                height: 40px;

                display: flex;

                border-radius: 50%;
                margin-bottom: 20px;
            }

            .fa-bolt-lightning {
                background-color: #48b3f6;
            }
            
            .fa-house-chimney {
                background-color: #EA4D89;
            }
            
            .fa-link {
                background-color: #3679FF;
            }
            
            .fa-bell {
                background-color: #F67842;
            }
            
            .fa-gear {
                background-color: #6B88F7;
            }
            
            .fa-lock {
                background-color: #3BB094;
            }
            
            h5 {
                font-weight: bolder;

                width: 100%;

                margin-bottom: 20px;
            }

            p {
                color: #727273;

                font-size: 0.7em;

                margin-bottom: 20px;
            }

            p.more {
                color: #717171;

                font-size: 0.6em;
                font-weight: 500;
            }
        }
    }

    .how-it-work-content.one-row {
        flex-wrap: nowrap;
        justify-content: space-evenly;

        margin: 20px 0 80px;

        section {
            background-color: #fff;

            box-shadow: 0 20px 30px #daddec;

            text-align: center;

            height: 160px;

            flex: 160px 0 0;
            justify-content: space-evenly;

            border: none;
            border-radius: 5px;
            padding: 0;
            margin: 0 20px;

            img {
                width: 60px;
                height: 60px;
            }

            h5 {
                font-size: 1.5em;

                margin-bottom: 0;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .how-it-work-footer {
        background-color: #F0F1F7;

        width: 100%;

        position: relative;

        overflow: hidden;

        margin-top: 70px;

        figure {
            width: 50%;
            height: auto;

            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 95%;
            }
        }

        .how-it-work-footer-text {
            width: 45%;

            flex-wrap: wrap;
            justify-content: start;
            
            margin: 50px 5% 50px 50%;

            .category {
                color: $pink;

                font-size: 0.6em;
                font-weight: 500;

                margin-bottom: 10px;
            }

            h1 {
                font-size: 1.75em;
                font-weight: 900;

                margin-bottom: 20px;
            }

            p {
                color: #727273;

                font-size: 0.65em;

                margin-bottom: 20px;
            }

            .skills {
                width: 100%;

                justify-content: space-evenly;

                div {
                    padding-left: 30px;

                    position: relative;

                    i {
                        background-color: #32C36A;
                        color: #fff;

                        font-size: 0.6em;

                        width: 20px;
                        height: 20px;

                        display: flex;

                        position: absolute;
                        top: 5px;
                        left: 0;

                        border-radius: 50%;
                    }

                    h4 {
                        font-size: 0.75em;

                        margin-bottom: 8px;
                    }
                }
            }
        }
    }

    .how-it-work-footer-video {
        width: 100%;
        
        position: relative;

        align-items: flex-start;

        .main-video {
            width: 65%;

            margin-right: 3%;
        }

        figure {
            width: 32%;

            img {
                width: 100%;
                height: 100%;

                margin-bottom: 20px;
            }

            figcaption {
                width: 90%;

                margin-left: 10%;

                h4 {
                    font-size: 1.25em;
                    font-weight: 900;

                    margin-bottom: 20px;
                }

                p {
                    color: #646262;

                    font-size: 0.7em;
                    font-weight: light;
                }

                a {
                    width: fit-content;

                    display: block;

                    margin-top: 20px;
                }
            }
        }

        div {
            display: flex;

            position: absolute;
            top: 80%;
            right: 0px;

            i {
                font-size: 0.75em;
                
                width: 20px;
                height: 20px;

                display: flex;

                border: 2px solid #e5e5e5;
                border-radius: 50%;
                padding: 10px;
                margin: 10px;
            }
        }
    }
}

.our-features {
    background-color: $dBlue;
    color: #fff;
    
    width: 100%;

    flex-wrap: wrap;

    padding: 50px 0;

    div {
        text-align: center;

        width: 100%;

        justify-content: space-evenly;

        margin-bottom: 50px;

        section {
            width: 40%;

            flex-wrap: wrap;

            div {
                text-align: left;

                width: fit-content;

                position: relative;

                border: 1px solid #282828;
                border-radius: 10px;
                padding: 20px 20px 20px 50px;
                
                p {
                    color: #717171;
                    
                    font-size: 0.75em;
                }

                .circle {
                    width: 15px;
                    height: 15px;

                    position: absolute;
                    top: 20px;
                    left: 20px;

                    border: 5px solid;
                    border-radius: 50%;
                    padding: 0;
                    margin: 0;
                }

                .pink {
                    background-color: #FF3E66;

                    border-color: #3a1d23;
                }
                .blue {
                    background-color: #2EACFC;

                    border-color: #1a2429;
                }
                .green {
                    background-color: #33C956;

                    border-color: #102916;
                }
            }

            figure {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        .menu-bar {
            .logo-and-desktop-nav {
                width: 20%;

                .desktop-nav {
                    display: none;
                }
            }

            .subscribe {

                img {
                    display: block;
                }
            }
        }

        .hero-section {
            width: 100%;

            h1 {
                font-size: 1.5em;
                font-weight: normal;
    
                margin: 20px 0;
    
                span {
                    font-weight: bolder;
                }
            }
    
            p {
                font-size: 0.6em;
            }

            form {
                width: 80%;

                input {
                    width: 100%;
                }
            }
        }

        .hero-img {
            max-width: 40%;
            max-height: 40%;
        }
    }

    .how-it-work {
    
        .how-it-work-title-div {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
    
            .how-it-work-title {
                text-align: center;

                width: 100%;
                
                margin-bottom: 20px;
            }
    
            .how-it-work-view-all {
                width: auto;
            }
        }

        .how-it-work-title-div.how-it-work-2nd {
            .how-it-work-title {
                text-align: start;

                margin-bottom: 0px;
            }
        }
    
        .how-it-work-content {
            justify-content: center;
    
            section {
                flex:80% 0 0;
                justify-content: center;

                padding: 10px 25px;
                
                h5, p {
                    text-align: center;
                }
            }
        }

        .how-it-work-content.one-row {
            flex-wrap: wrap;
            justify-content: center;
    
            margin: 0 0 50px;
    
            section {
                flex: 80% 0 0;
                
                margin: 20px 10%;
            }
        }
    
        .how-it-work-footer {
            margin-top: 50px;
    
            figure {
                display: none;
            }
    
            .how-it-work-footer-text {
                text-align: center;

                width: 100%;

                justify-content: center;
                
                margin: 50px 5%;
    
                .skills {
                    width: 100%;
    
                    flex-wrap: wrap;
    
                    div {
                        text-align: start;

                        width: 100%;

                        justify-content: start;
                    }
                }
            }
        }

        .how-it-work-footer-video {
            flex-wrap: wrap;
            align-items: center;
    
            .main-video {
                width: 100%;
    
                margin-right: 0;
                margin-bottom: 50px;
            }
    
            figure {
                width: 100%;
    
                figcaption {
                    width: 100%;
    
                    margin-left: 0;
                }
            }
    
            div {
                display: none;
            }
        }
    }

    .our-features {
        div {
            flex-wrap: wrap;

            section {
                width: 100%;

                div {
                    width: 80%;
                    margin: 10px 10%;
                }

                figure {
                    width: 80%;

                    margin-top: 100px;
                }
            }
        }
    }
}

@media screen and (max-height: 700px) {
    header {
        height: auto;
    }
}

@media screen and (max-width: 800px) and (max-height: 700px) {
    header {
        .hero-img {
            max-width: 100px;
            max-height: 100px;
        }
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: 15px;
    }

    header {
        .menu-bar {
            .subscribe {
                a {
                    display: none;
                }
            }
        }

        .hero-img {
            display: none;
        }
    }
}

@keyframes pop-up {
    0% {max-width: 0px; max-height: 0px;}
}

@keyframes top-up {
    0% {top: -100%;}
    25% {top: 50%;}
    50% {top: -20%;}
    100% {top: 0px;}
}

@keyframes right-left {
    0% {left: 105%;}
    25% {left: 95%;}
    50% {left: 105%;}
    75% {left: 95%;}
    100% {left: 105%;}
}